
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,600;0,700;1,100;1,500&family=Inter:wght@400;600&family=League+Spartan:wght@100&family=Roboto:ital,wght@0,100;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,600;0,700;1,100;1,500&family=Inter:wght@400;600&family=Merriweather&display=swap');


*{ display: flexbox;
padding: 0;
}
 
hr{ width: 400px;
padding: 0;
margin-top: 1px;
border-top: solid red;
border-bottom: 0;
}
 figure > figcaption { font-size: x-small;
    border-left: thin solid black; 
    padding: 2%;   
    text-align: start;
     }

 figure {float: right;
    border: transparent thin solid;
    padding: 1px;    
    max-width: 350px;
 }

  figure > .onca {
    float:inline-end;
          width: 500px;
          
  }   

 p { 
    display: flexbox;
    margin-left: 25%; 
    margin-right: 25%;   
   font-family: Lato e Merriweather;}

  img {
 width: 100%;  
  padding: 0;
  margin: 0;
  border: 0;
  }

 a { color: #1338BE}

 h1,h2,h3{ text-align: center;
 font-family: Bebas Neue;
 letter-spacing: 1px;}

 h1{ color: black;    
 }
 
 .capaRegiao { position: relative;
}

 .titulo{ 
   position: absolute;
   bottom: 30%;
   text-align: center;
   left: 25%;
   right: 40%; 
   margin-block-end: 0;
width: 300px;}

   .capaRegiao > sgv { right: 100%;
      height: 200px;}  

      .titulo > h1.t2 { color: black;
      background-color: white;}

     .titulo > h1 { color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: x-large;     
     }
 
   

 .especial { 
    display: flexbox;
    border-left: solid red;
    border-inline-end-style: 2rem;
    padding: 1rem;
    max-width: 450px;
    margin-left: 40%;
    clear: initial;}

  .selecaoRegiao {         
    justify-content: center;
    align-items: center; }
    
      select { background-color: black;
      color: white;}

     button { margin-right: 20%;
      margin-left: 62%;   
      background-color: white;
      color: black;   
      padding: 4px;
      box-shadow: 3px 3px red;
     }

     button:hover { 
      background-color: black;
      color: white;  }

     .conteudoPopup{ 
     margin-left: 25%;
     margin-right: 25%;              
     display: none;
     border: solid black;
      clear: both;                
                 }

                 .popup .botaoFechar {
                  display: flexbox;
                  cursor: pointer;
                  right: 10px;
                  top: 5%;
                  width: 18px;
                  height: 18px;
                  background: black;
                  padding: 2%;
                  font-size: 25px;
                  font-weight:600;
                  line-height: 18px;
                  text-align: center;
                  border-radius: 50%;
                  color: white;
                  
                                     }
 .popup.ativa .fundo  {
    display: block;
    transition: all 300ms ease-in-out;
    transform:translater(-50%,-50%) scale(1);
    background-color: rgba(0,0,0,0.5);
    margin: 0% }
                                  
    .popup.ativa .conteudoPopup { 
      display:  block;
      transition: all 300ms ease-in-out;
      transform:translater(-50%,-50%) scale(1); }
                 
            

           

      /* @media screen and (min-width: 300px) {
           p { 
            margin-left: 10%; 
            margin-right: 10%; }
         .especial {max-width: 300px; }
    
        }  pq ta aplicando pra tudo?*/

       
     
          